.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.5);
}

.myModalContent {
    flex-direction: column;
    padding: 10px;
    background: white;
    border-radius: 16px;
    min-width: 800px;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myModalContent input{
    height: 50px;
    width: 100%;
}

.myModalContent textarea{
    margin-top: 10px;
    height: 50px;
    width: 100%;
}
