*{
    margin:0;
    padding:0;
   }
   body {
    background: #000000;
    font:14px/1.3 Arial,sans-serif;
   }
    
   .container {
    
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    width: 900px;
   }
   #scene {
    background-color: #f3f4ef; border: 1px solid #dedede; padding: 5px;
    position:relative;
   }

   .infoblock{
       width: 812px;
       height: 100px;
       background-color: white;
   }

   #info{
       text-align: center;
       font-size: 30px;
   }